@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}

body {
    background-color: #010c13 !important;
}

/* Titles */
h1 {
    margin-left: 2rem;
    overflow: hidden;
    font-size: 2.5rem !important;
}

h1,
h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow: visible;
}

h3,
h4 {
    overflow: visible;
}

h4 {
    margin-bottom: 2rem !important;
}

header {
    margin: 0 !important;
    background-color: #01070C;
    height: 10vh;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    border-bottom: 2px solid #041727;
}

main {
    background-color: #010c13;
    min-height: 90vh;
    overflow-y: scroll;
    width: 110vw;
}

header>img {
    position: absolute;
    right: 4vw;
}

/* Burger icon */
input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
    overflow: hidden;
}

.bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    overflow: hidden;
}

.bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 17px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
    overflow: hidden;

}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.middle {
    transform: translateX(-20px);
    opacity: 0;
}


.donate {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 6rem;
    height: 2rem;
    background-color: rgb(189, 163, 19);
    text-decoration: none;
    color: white;
    line-height: 1.8rem;
    border-radius: 5px;
    overflow: visible;
    box-shadow: 0 0 5px 2px rgb(189, 163, 19);
    transition: all 0.2s;
    font-weight: 500;
    font-size: 1.2rem;
}

.donate:hover {
    background-color: rgb(160, 138, 14);
    box-shadow: 0 0 5px 2px rgb(160, 138, 14);
    transition: all 0.2s;
}

footer {
    width: 80vw;
    border-top: 1px solid #032236;
    height: 7rem;
    display: grid;
    place-items: center;
    margin-left: 10vw;
}

#footerText {
    font-size: 1.3rem;
}

#goToTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: #0a3253;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    width: clamp(4rem, 5vw, 5rem);
    height: clamp(4rem, 5vw, 5rem);
    overflow: visible;
    border: none;
    transition: all 0.2s;
}

#goToTop img {
    filter: invert();
    width: 80%;
    transition: all 0.2s;
}

#goToTop:hover {
    background-color: #072a46;
    transition: all 0.2s;
}

#goToTop:hover img {
    filter: invert(90%);
    transition: all 0.2s;
}

@media only screen and (max-width: 1000px) {
    .donate {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #goToTop {
        bottom: 20vh;
        right: 5vw;
        width: clamp(2rem, 10vw, 5rem);
        height: clamp(2rem, 10vw, 5rem);
    }

    #goToTop img {
        margin-bottom: 20%;
    }
}