* {
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}

#dessusBareFlotaison {
    display: grid;
    place-items: center;
    height: 90vh;
    padding-bottom: 10vh;
    z-index: 0;
    background-image: linear-gradient(#010c1344 .1em, transparent .1em), linear-gradient(90deg, #010c1344 .1em, transparent .1em);
    background-size: 1.5em 1.5em;
}

h2 {
    font-size: 6rem !important;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
}

.inter {
    font-size: 10rem;
    margin-left: 2vw;
    margin-bottom: 7vh;
    color: #588dff;
    margin-right: 7rem;
    overflow: hidden;
}

.circleOne {
    position: absolute;
    right: -3px;
    top: 9.65vh;
}

.circleTwo {
    position: absolute;
    rotate: 180deg;
    left: -3px;
    bottom: -5px;
}

.arrow {
    position: absolute;
    top: 88vh;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: inline-flex;
    width: 6rem;
    height: 5rem;
    overflow: visible;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 2px);
    width: 4px;
    height: 45px;
    border-radius: 9999px;
    background-color: #a7ac09;
    box-shadow: 0px 0px 10px 2px #a7ac09;
    transform-origin: 50% calc(100% - 2px);
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    transform: rotate(-45deg);
}

.dessous {
    height: 100vh;
    width: 100vw;
    border-top: 2px solid white;
    z-index: 1;
    background-color: #010c13;
    padding-top: 5rem;
}

.item {
    background-color: #001624;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    user-select: none;
    border: 2px solid #002135;
    margin: 3rem 0;
}

.item * {
    overflow: hidden;
}

.images .imgContainer {
    background-color: #002841;
    height: 5rem;
    margin: 5px;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    border: 2px solid #002f4e;
    transition: all 0.1s;
}

.images .imgContainer:hover {
    background-color: #003557;
    transition: all 0.1s;
    transform: scale(1.04);
}

.images img {
    object-fit: cover;
    width: 4rem;
    margin: 2px;
}

.images {
    padding: 0 2rem;
}

h4 {
    margin-bottom: 2rem !important;
}