:root {
    --circle-width-small: 25vw;
    --circle-width-medium: 30vw;
    --circle-width-large: 40vw;
}

.projectTitle {
    margin-bottom: 2rem;
}

.title {
    white-space: nowrap;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-right: 4vw;
}

h2 {
    font-size: clamp(2rem, 10vw, 6rem) !important;
    width: auto;
    text-align: center;
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
    margin: 0;
    margin-right: 3vw;
}

#whoAmI span {
    display: inline-block;
    opacity: 0;
    font-weight: bold;
    transform: translateY(200px);
}

h4 {
    font-size: clamp(1.5rem, 2vw, 1.5rem) !important;
}

.presentation h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.presentation {
    text-align: center;
}

.presentation p {
    font-size: 1.2rem !important;
    font-weight: 100;
}

.item p {
    font-size: 1.3rem;
}

/* Dessus de la barre de flotaison */
#dessusBareFlotaison {
    position: relative;
    display: grid;
    place-items: center;
    height: 90vh;
    padding-bottom: 10vh;
    z-index: 0;
    background-image: linear-gradient(#020d1444 .1em, transparent .1em), linear-gradient(90deg, #020d1444 .1em, transparent .1em);
    background-size: 1.5em 1.5em;
    overflow: hidden;
    user-select: none;
}

.inter {
    font-size: clamp(5rem, 15vw, 10rem) !important;
    color: #588dff;
    overflow: visible;
    font-weight: normal;
}

.circleOne {
    width: var(--circle-width-small);
    position: absolute;
    right: 9vw;
    top: -5px;
    z-index: 1;
}

.circleTwo {
    width: var(--circle-width-small);
    position: absolute;
    rotate: 180deg;
    left: -3px;
    bottom: -5px;
    z-index: 1;
}


.arrowContainer {
    position: absolute;
    top: 79vh;
    margin-inline: auto;
    overflow: visible;
    width: 100vw;
    height: 5rem;
    justify-self: flex-start;
    display: flex;
}

.arrow {
    width: 5rem;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 2px);
    width: 4px;
    height: 45px;
    border-radius: 9999px;
    background-color: #a7ac09;
    box-shadow: 0px 0px 10px 2px #a7ac09;
    transform-origin: 50% calc(100% - 2px);
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    transform: rotate(-45deg);
}

/* Dessous de la barre de flotaison */

.dessous {
    height: auto;
    width: 100vw;
    border-top: 1px solid white;
    z-index: 1;
    background-color: #010c13;
    padding-top: 5rem;
    position: relative;
}

.item {
    background-color: #001624;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    user-select: none;
    border: 2px solid #002135;
    margin: 3rem 0;
    box-shadow: 0 0 6px 1px #002135;
    transition: all 0.5s;
    opacity: 0;
    margin-right: 5rem;
}

.item * {
    overflow: hidden;
}

.sticky {
    background-color: red;
    width: 4rem;
    height: 5rem;
    position: sticky;
    top: 10px;
    right: 10vw;
}

.images .imgContainer {
    background-color: #002841;
    height: 5rem;
    margin: 5px;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    border: 2px solid #002f4e;
    transition: all 0.1s;
    min-width: 5.5rem !important;
}

.images .imgContainer:hover {
    background-color: #003557;
    transition: all 0.1s;
    transform: scale(1.04);
}

.images img {
    object-fit: cover;
    width: 4rem;
    margin: 2px;
}

.images {
    padding: 0 2rem;
}

.projects {
    margin-top: 10vh !important;
    border-top: 2px solid #0036578c;
    padding-top: 10vh;
    overflow: visible;
}

.project {
    position: relative;
    overflow: hidden;
    height: 55vh;
    width: 45vw !important;
    background-color: #001624;
    border: 2px solid #002135;
    border-radius: 1rem;
    margin: 8rem 0;
    text-align: center;
    padding: 0 !important;
}

.project>img {
    width: 30vw;
    border-radius: 1rem;
    border: 2px solid rgba(0, 90, 146, 0.637);
    filter: brightness(90%);
}

#projectsTitle {
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
    font-size: clamp(1.6rem, 2.2vw, 5rem) !important;
}

.finished,
.doing,
.planned {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 0rem;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    user-select: none;
}

.finished {
    background-color: #1A9322;
}

.doing {
    background-color: #1030B2;
}

.desc {
    margin-top: 1rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

.date {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.goToPage {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-color: #002B46;
    border: 2px solid #003758;
    border-radius: 10px;
    user-select: none;
}

.goToPage img {
    width: 3rem;
    filter: invert(90%);
}

.goToPage:hover {
    background-color: #003557;
    transition: all 0.1s;
}

.imagesIn {
    padding-bottom: 2rem;
}

.projectFromLeft {
    transform: translateY(-5vh) translateX(-10vw) rotate(-6deg);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.projectFromRight {
    transform: translateY(-5vh) translateX(10vw) rotate(6deg);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.topGsap, .bottomGsap {
    height: 50vh;
    width: 100vw;
    background-color: #11547E;
    position: relative;
    z-index: 10;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.insideGsapMenu div {
    overflow: visible !important;
}

.insideGsapMenu #h {
    font-size: clamp(2rem, 4vw + 1rem, 5rem);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: -10vh;
}

.insideGsapMenu .p {
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    font-family: 'Montserrat', sans-serif;
}

.end {
    margin-top: 60vh;
}

.endContact {
    display: grid;
    place-items: center;
}

.endContact a {
    text-decoration: none;
    color: white;
    background-color: #002a44;
    padding: 5px 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    border: 2px solid #003455;
}

.endContact a:hover {
    background-color: #003150;
    transition: all 0.2s;
    border: 2px solid #003c61;
    text-decoration: underline;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200vw;
    z-index: 999;
}

@media only screen and (max-width: 900px) {
    .imagesIn, .presentation {
        width: 60vw !important;
    }

    .circleOne, .circleTwo {
        width: var(--circle-width-medium);
    }

    .project {
        width: 60vw !important;
        height: 55vh !important;
    }

    .project img {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .circleOne, .circleTwo {
        width: var(--circle-width-large);
    }
}

@media only screen and (max-width: 500px) {
    .goToPage {
        bottom: 4rem;
        left: 0;
        right: 0;
        margin-inline: auto; 
    }

    .project {
        width: 85vw !important;
    }

    .item {
        width: 85vw !important;
    }
}

@keyframes charsAnim {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}