* {
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}

main {
    background-color: #02111B;
    min-height: 90vh;
    overflow-y: scroll;
    width: 110vw;
}

header {
    margin: 0 !important;
    background-color: #01070C;
    height: 10vh;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

header>img {
    position: absolute;
    right: 4vw;
}

h1 {
    margin-left: 2rem;
    overflow: hidden;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
}

.bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 17px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.middle {
    transform: translateX(-20px);
    opacity: 0;
}

#dessusBareFlotaison {
    display: grid;
    place-items: center;
    height: 90vh;
    padding-bottom: 10vh;
    z-index: 0;
    background-image: linear-gradient(#010c1344 .1em, transparent .1em), linear-gradient(90deg, #010c1344 .1em, transparent .1em);
    background-size: 1.5em 1.5em;
}

h2 {
    font-size: 6rem !important;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
}

.inter {
    font-size: 10rem;
    margin-left: 2vw;
    margin-bottom: 7vh;
    color: #588dff;
    margin-right: 7rem;
    overflow: hidden;
}

.circleOne {
    position: absolute;
    right: -3px;
    top: 9.65vh;
}

.circleTwo {
    position: absolute;
    rotate: 180deg;
    left: -3px;
    bottom: -5px;
}

.arrow {
    position: absolute;
    top: 92vh;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: inline-block;
    width: 4rem;
    height: 3rem;
    overflow-y: hidden;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 2px);
    width: 4px;
    height: 45px;
    border-radius: 9999px;
    background-color: #a7ac09;
    transform-origin: 50% calc(100% - 2px);
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    transform: rotate(-45deg);
}

.dessous {
    height: 100vh;
    width: 100vw;
    border-top: 2px solid white;
    z-index: 1;
    background-color: #010c13;
}